<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="name">URL: </label>
        <input type="text" id="url" name="url" /><br>
        <label for="name">HTML: </label>
        <input type="text" id="html" name="html" /><br>
        <input type="submit" id="send" name="send" value="Subir" />
    </form>
    
</body>
</html>